<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="{{csspath}}">
</head>


<body>



<div class="login_form">
<b>Your password has expired.</b><br>
<br>
  <form action="/login/newpass" method="POST">
    <label><b>New Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <input type="submit" value="Submit">
  </form>
</div>
<br>
<hr>
<br>
{{ error_message }}

</html>
</body>
