<!DOCTYPE html>
<html lang="en">
<head>
  <title>IOWT - My Things</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://robotika.co.uk/bootstrap.min.css" rel="stylesheet">
  <link href="https://robotika.co.uk/iowt.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://robotika.co.uk/bootstrap.min.js"></script>
    
</head>
<body>
  <!-- NAV BAR -->    
  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="myhome">{{ icon_path }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {% if isadmin %}
          <li><a href="admin">Admin</a></li>
        {% endif %}
        <li><a href="sightings">Sightings</a></li>
        <li class="active"><a href="#">My Things</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="settings">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- </div> -->
    
  <div class="container-fluid">
      <div class="row">
          <aside class="col-sm-12">
              <h3>My Things</h3>
          </aside>
      </div>
      <div class="row">
        <section class="col-sm-12">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>    
                  <th>Location</th>
                  <th>Status</th>
                  <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{device.id}}</td>
                    <td><em>{{device.deviceName}}</em></td>
                    <td><em>{{device.deviceLocation}}</em></td>
                    {% if device.deviceStatus == "online" %}
                        <td class="success">{{device.deviceStatus}}</td>
                    {% elif device.deviceStatus == "offline" %}
                        <td class="danger">{{device.deviceStatus}}</td>
                    {% else %}
                        <td class="warning">{{device.deviceStatus}}</td>
                    {% endif %}
                    <td class="text-right">
                        <button class="btn btn-default"  
                                data-deviceid="{{device.id}}"
                                data-devicename="{{device.deviceName}}"
                                data-devicelocation="{{device.deviceLocation}}"
                                data-toggle="modal" 
                                data-target="#thingModal">Edit</button>
                    </td>
                </tr>
                {% endfor %}  

              </tbody>  
              </table>
          </section>
      </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="thingModal" tabindex="-1" role="dialog" aria-labelledby="thingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="thingModalLabel">Thing Details</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">id       </span>
            <input class="form-control" type="text" name="deviceId" id="deviceId" placeholder="" readonly />
        </div>        
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">name     </span>
            <input class="form-control" type="text" name="deviceName" id="deviceName" placeholder=""/>
        </div>        
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">location </span>
            <input class="form-control" type="text" name="deviceLocation" id="deviceLocation" placeholder="" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-apiurl="{{apiurl}}" onclick="save_device_data(this);">Save changes</button>
      </div>
    </div>
  </div>
</div>
   
<script src="https://robotika.co.uk/iowt.js"></script>

    
</body>
</html>
