<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/iowt.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/iowt.js"></script>
    
</head>
<body>
  <!-- NAV BAR -->    
  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ icon_path }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="sightings.html">Sightings</a></li>
        <li class="active"><a href="#">My Things</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- </div> -->
    
  <div class="container-fluid">
      <div class="row">
          <aside class="col-sm-12">
              <h3>My Things</h3>
          </aside>
      </div>
      <div class="row">
        <section class="col-sm-12">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>    
                  <th>Location</th>
                  <th>Status</th>
                  <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{device.id}}</td>
                    <td><em>{{device.name}}</em></td>
                    <td><em>{{device.location}}</em></td>
                    {% if device.status == "online" %}
                        <td class="success">Online</td>
                    {% elif device.status == "offline" %}
                        <td class="danger">Online</td>
                    {% else %}
                        <td class="warning">{{device.status}}</td>
                    {% endif %}
                    <td class="text-right">
                        <button class="btn btn-default"  
                                data-deviceid="{{device.id}}"
                                data-devicename="{{device.name}}"
                                data-devicelocation="{{device.location}}"
                                data-toggle="modal" 
                                data-target="#myModal">Edit</button>
                    </td>
                </tr>
                {% endfor %}  

              </tbody>  
              </table>
          </section>
      </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">id       </span>
            <input class="form-control" type="text" name="deviceId" id="deviceId" placeholder="" readonly />
        </div>        
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">name     </span>
            <input class="form-control" type="text" name="deviceName" id="deviceId" placeholder=""/>
        </div>        
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">location </span>
            <input class="form-control" type="text" name="deviceLocation" id="deviceId" placeholder="" />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_device_data();">Save changes</button>
      </div>
    </div>
  </div>
</div>
    
<script type="text/javascript">
$('#myModal').on('show.bs.modal', function(e) {
  var deviceId = e.relatedTarget.dataset.deviceid;
  var deviceName = e.relatedTarget.dataset.devicename;
  var deviceLocation = e.relatedTarget.dataset.devicelocation;

    
  $(e.currentTarget).find('input[name="deviceId"]').val(deviceId);
  $(e.currentTarget).find('input[name="deviceName"]').val(deviceName);
  $(e.currentTarget).find('input[name="deviceLocation"]').val(deviceLocation);
});
</script>

<script type="text/javascript">
$('#save_device_data').click(function() {
  $select_value = $("#deviceLocation").value();
  console.log($select_value);
  $('#myModal').modal('hide');
});
</script>

    
    
</body>
</html>
