<!DOCTYPE html>
<html lang="en">
<head>
  <title>IOWT - Settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://robotika.co.uk/bootstrap.min.css" rel="stylesheet">
  <link href="https://robotika.co.uk/iowt.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://robotika.co.uk/bootstrap.min.js"></script>


    
</head>
<body>
  <!-- NAV BAR -->    
  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="myhome">{{icon_path}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {% if isadmin  == "True" %}
          <li><a href="admin">Admin</a></li>
        {% endif %}
        <li><a href="sightings">Sightings</a></li>
        <li><a href="mythings">My Things</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="active" href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- </div> -->
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-4">
      </aside>


      <section class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" autocomplete="off">

          <div class="form-group">
            <label for="inputUsername" class="col-md-3 control-label text-left">Username</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputUsername" placeholder="{{username}} (readonly)" readonly>
            </div>
          </div>


          <div class="form-group">
            <label for="inputEmail" class="col-md-3 control-label text-left">Email</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputEmail" placeholder="{{current_email_address}}" readonly onfocus="this.removeAttribute('readonly');">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-md-3 control-label text-left">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="inputPassword" placeholder="New Password" readonly onfocus="this.removeAttribute('readonly');">
            </div>
          </div>
          <button type="submit" class="btn btn-primary disabled" onclick="save_user_settings(this);" disabled="disabled">Save</button>
        </form>
      </div>
    </div>


      </section>

      <aside class="col-md-4">
      </aside>

    </div>
  </div>

<script src="https://robotika.co.uk/iowt.js"></script>

</body>
</html>
