<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://robotika.co.uk/bootstrap.min.css" rel="stylesheet">
  <link href="https://robotika.co.uk/iowt.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://robotika.co.uk/bootstrap.min.js"></script>
    
</head>
<body>
  <!-- NAV BAR -->    
  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/www/myhome">{{ icon_path }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {% if isadmin %}
          <li><a href="/www/admin">Admin</a></li>
        {% endif %}
        <li class="active"><a href="#">Sightings</a></li>
        <li><a href="/www/mythings">My Things</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/www/settings">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- </div> -->
    
  <div class="container-fluid">
      <div class="row">
          <aside class="col-sm-12">
              <h3>Sightings</h3>
          </aside>
      </div>
      <div class="row">
        <section class="col-sm-12">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th> </th>
                  <th>Time/Date</th>
                  <th>Device</th>
                  <th>Image</th>
                </tr>
                </thead>
                <tbody>

                {% for event in events %}
                <tr>
                    <td><img class="media-object" src="..." alt="..."></td>
                    <td>{{event.timestamp}}</td>
                    <td>{{event.device_id}}</td>
                    <td><button class="btn btn-primary" 
                                data-image={{event.image}}
                                data-imageurl={{imageurl ~ "/" ~ event.image}}
                                data-toggle="modal"
                                data-target="#imageModal">Full Image</button>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-default"
                                data-creatureweight="{{event.creatureweight}}"
                                data-foodlevel="{{event.foodlevel}}"
                                data-waterlevel="{{event.waterlevel}}"
                                data-toggle="modal"
                                data-target="#eventModal">Sensors</button>
                        <button class="btn btn-default" id="event-delete" data-url="{{apiurl}}" data-eventid="{{event.id}}" onclick="event_delete(this);">Delete</button>

                    </td>

                </tr>
                {% endfor %}
                </tbody>  
              </table>
          </section>
      </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventModalLabel">Sensor Data</h4>
      </div>
      <table class="table table-hover table-condensed">
        <tbody>
          <tr>
            <td class="vert-aligned" style="width:25%">Creature Weight</td>
            <td class="vert-aligned"><input class="form-control" type="text" name="creatureWeight" id="creatureWeight" placeholder="N/A" readonly /></td>
          </tr>
          <tr>
            <td class="vert-aligned" style="width:25%">Water Level</td>
            <td class="vert-aligned">
              <div class="progress">
                <div id="progbar-water" name="progbar-water" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  <span class="sr-only">N/A</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="vert-aligned" style="width:25%">Food Level</td>
            <td class="vert-aligned">
              <div class="progress">
                <div id="progbar-food" name="progbar-food" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  <span class="sr-only">N/A</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="imageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img class="img-responsive" id="full-image" alt="Embedded Image" src="...">
      </div>
    </div>
  </div>
</div>

<script src="https://robotika.co.uk/iowt.js"></script>

</body>
</html>









